<br><br><img src="img/logos.png" alt="Steering Group Logos" style="max-width: 100%;">

</section>

            <footer>
                <p><a href="/">Home</a> | <a href="calltoaction.php">Call to Action</a> | <a href="downloads.php">Downloads</a> | <a href="contact.php">Contact Us</a></p>
                <p class="small-print">This initiative is enabled by sponsorship provided by Gilead Sciences and ViiV Healthcare <br>&copy; HIV Outcomes. All rights reserved.</p>
            </footer>
        </div>

        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.12.0.min.js"><\/script>')</script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>

    </body>
</html>