<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>HIV Outcomes</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="css/site.css">
        <script src="js/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div class="mobile-menu-container">
            <ul class="mobile-menu">
                <li><a href="/">Home</a></li>
                <li><a href="calltoaction.php">Call to Action</a></li>
                <li><a href="pressrelease.php">Press Release</a></li>
                <li><a href="downloads.php">Downloads</a></li>
                <li><a href="contact.php">Contact Us</a></li>
            </ul>
            <a href="#" class="mobile-menu__toggle"><img class="mobile-menu__toggle__icon" src="img/menu.png" alt=""> MENU</a>
        </div>
        
        <div class="content-container">
            <header>
                <nav class="text--right"><a href="calltoaction.php">Call to Action</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="contact.php">Contact Us</a></nav>
                <a href="/"><img class="logo" src="img/logo.png" alt="HIV Outcomes Logo"></a>
                <nav class="text--left"><a href="pressrelease.php">Press Release</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="downloads.php">Downloads</a></nav>
            </header>
                
            <section class="content">